body{
    color: green;
}

ul{
    background-color: lightcoral;
    padding: 20px;

    display: flex;
    flex-wrap: nowrap;
}

li {
    list-style: none;
    background-color: #202020;
    padding: 10px;
    margin: 20px;
    width: 100px;
}